body {

    background-color: #333;
    color: white;
    display: flex;
    height: 98vh;
    width: 98vw;
    /* flex-direction: row; default */

    #nav.hidden {
        width: 5%;
    }
    #nav.visible {
        width: 20%;
    }

    #nav {
        margin: 0;
        height: 100%;
        /* width: 20%; */
        /* max-width: 10%; */
        /* min-width: 5%; */
        background-color: dimgray;

        #toggle-nav {
            size: 10rem;
            margin: 10px;
            justify-content: start;
        }

        #toggle-nav:hover {
            cursor: pointer;
        }

        #nav-buttons {
            display: flex;
            flex-direction: column;
            justify-content: start;
        }
    
        /* #login-inputs {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
        } */
    }

    #content {
        display: flex;
        flex-direction: column;
        height: 100%;
        width: 100%;

        h1, p {
            text-align: center;
        }

        p {
            padding: 0px auto;
            margin: 0px auto;
        }

        #wrapper {
    
            display: flex; 
            width: 100%; 
            gap: 5px; 
            height: 60vh;
            padding-top: 20px;
    
            /* #nav {
                #login-inputs {
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    align-items: center;
                }
            } */ 
        
            #chat {
                display: flex; 
                /* width: 50%;  */
                flex-grow: 1;
                flex-direction: column; 
                border: 1px solid black;
    
                #chatbox {
                    max-height: 80%;
                    overflow-y: auto;
                    display: flex;
                    flex-direction: column;
                    /* justify-content: flex-start; */
    
                    div {
                        border-radius: 12px;
                        background-color: gold;
                        color: black;
                        max-width: fit-content;
                        margin: 10px auto;
                        padding: 4px;
                    }
    
                    div.sender-self {
                        background-color: blue;
                        color: white;
                        /* align-self: flex-end; */
                        margin-left: auto;
                    }
    
                    div.sender-other {
                        background-color: bisque;
                        color: black;
                        /* align-self: flex-start; */
                        margin-right: auto;
                    }
                }
        
                #chat-inputs {
                    display: flex; 
                    flex-direction: column;
                    margin-top: auto;
                    /* max-height: 10vh; */
                    max-height: 20%;
                    overflow-y: auto;
        
                    .chat-input-row {
                        display: flex;
        
                        .chat-input-text {
                            flex-grow: 1;
                        }
        
                        .chat-input-send {
                            max-width: fit-content;
                        }
                    }
                }
            }
    
            #connection-info {
                display: flex;
                flex-direction: column;
                border: 1px solid black; 
                width: 20%; 
    
                #userlistbox {
                    /* height: 100%; */
                    max-height: 95%;
                    overflow-y: auto;
                }
    
                #connection-input {
                    margin-top: auto;
                    display: flex;
    
                    #connection-input-options {
                        display: flex;
                        flex-direction: column-reverse;
                        position: relative;
                    }
    
                    #connection-input-text {
                        flex-grow: 1
                    }
    
                    #connection-input-send {
                        max-width: fit-content;
                    }
                }
    
                /* #connection-input:first-child {
                    flex-grow: 1;
                }
    
                #connection-input:last-child {
                    max-width: fit-content;
                } */
            }
        }
    }


    .dynamic-link:link { color: cyan; }
    .dynamic-link:visited { color: limegreen; }
    .dynamic-link:hover { color: orange; }
    .dynamic-link:active { color: hotpink; }
    .dynamic-link { margin: 8px; white-space: nowrap; }

}
